@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Agbalumo", system-ui, sans-serif;
}
body{
    background: #19186b;
}
.quote-box{
    background: #ffffff;
    width: 600px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(6, 34, 15, 0.15);
}
.quote-box h2{
    font-size: 32px;
    margin-bottom: 30px;
    position: relative;
}
.quote-box h2::after{
    content: '';
    width: 80px;
    height: 3px;
    background:  rgb(110, 1, 1);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.quote-box blockquote{
    font-size: 26px;
    min-height: 60px;
}
.quote-box blockquote::before,
.quote-box blockquote::after{
    content: '"';
}
.quote-box span{
    display: block;
    margin-top: 20px;
    text-align: right;
    margin-right: 10px;
    color: #050404;
}
.quote-box div{
    margin-top: 1px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.quote-box button{
    background: rgb(110, 1, 1);
    color: #ffffff;
    border-radius: 25px;
    border: none;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
}
.quote-box button img{
    width: 38px;
    margin-right: 5px;
    height: 25px;
    border-radius: 4px;
}
.quote-box button:nth-child(2){
    background: transparent;
    border-radius: 25px;
    color: #ffffff;
    background: #160bdb;
}
.quote-box button:hover{
    background-color: white;
    transition: 0.8s;
    color: rgb(10, 10, 10);
}
.quote-box button:hover{
    background-color: rgb(196, 192, 192);
    transition: 0.4s;
}